<div class="container">
  <div class="content">
    <div class="pic">
      <img src='{{hotel.pictureUrl}}'>
    </div>
    <div class="info">
      <span>{{hotel.name}}</span>
    </div>
    <div class="form">
      <form [formGroup]="formGroup">
        <label>
          <span>Ár:</span>
          <div>
            <input formControlName="cost" type="number">
          </div>
          <span *ngIf="formGroup.controls['cost'].hasError('required')" class="error-message">Kötelező kitölteni!</span>
        </label>
        <label>
          <span>Szezonális nyitvatartás:</span>
          <div>
            <input formControlName="seasonallyOpenFrom" type="date"> -
            <input formControlName="seasonallyOpenTill" type="date">
          </div>
          <span *ngIf="formGroup.hasError('dateRange')" class="error-message">A vég dátumnak későbbinek kell lennie!</span>
        </label>
      </form>
    </div>
  </div>
  <div class="footer">
    <button (click)="onClickBack()">Vissza</button>
    <button (click)="onClickSave()">Mentés</button>
  </div>
</div>
