.container {
  height: inherit;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;

    .pic {
      display: flex;
      justify-content: center;

      img {
        width: 200px;
        border-radius: 5px;
      }
    }

    .info {
      display: flex;
      justify-content: center;
    }

    .form {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }

  .footer {
    display: flex;
  }
}
