
.header {
  background-color: #eee !important;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 0 0 20px 20px;
  margin-bottom: 10px;
  box-shadow: 0 5px 2px -2px lightgray;
}

.img-container img {
  width: 60px;
  border-radius: 50%;
  border: lightgrey solid 2px;
}
