/* You can add global styles to this file, and also import other style files */
span {
  font-family: 'Roboto', Arial, sans-serif;
  color: #d01c1c;
}
html {
  background-color: #fff3eb;
  height: 100%;
}
